@import './icon.scss';
@import './font.scss';
* {
	list-style: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent;
	outline: none;
	font-family: 'IBMPlexSans-Medium';
	border: 0;
	font-size: 14px;
	text-decoration: none;
}
:root {
	--success: #39c6a4;
	--danger: #fb6f92;
}
.scroll {
	overflow-y: scroll;
	&::-webkit-scrollbar-thumb {
		background-color: rgb(194, 194, 194);
		opacity: 0.5;
		border-radius: 4px;
		position: fixed;
	}

	&::-webkit-scrollbar {
		width: 4px; /* Tamaño del scroll en vertical */
		height: 0px; /* Tamaño del scroll en horizontal */
	}
}
.shadow-1 {
	box-shadow: 0px 2px 12px -3px #9baebe;
}

.text-sub-category {
	color: white;
	text-shadow: 0px 0px 2px #c0c0c0;
}
@keyframes showOptions {
	0% {
		max-height: 0;
		/* opacity: 0; */
		opacity: 1;
	}
	30% {
		opacity: 1;
	}
	100% {
		opacity: 1;
		max-height: 10rem;
	}
}
@keyframes closeOptions {
	0% {
		max-height: 10rem;
		opacity: 1;
		border: 1px solid #e3e3e3a6;
		height: max-content;
	}
	30% {
		opacity: 1;
		border: 1px solid #e3e3e300;
	}
	99% {
	}
	100% {
		border: 1px solid #e3e3e300;
		opacity: 1;
		height: 0;
		max-height: 0rem;
	}
}
.options {
	height: 0;
	opacity: 0;
	&.active {
		height: max-content;
		border: 1px solid #e3e3e3a6;
		box-shadow: 0px 8px 15px -9px #0000004d;
		animation: showOptions 0.2s linear forwards;
	}
	&.close {
		height: 0;
		opacity: 0;
		border: 0;
		box-shadow: 0px 8px 15px -9px #0000004d;
		animation: closeOptions 0.2s linear forwards;
	}
}
span[aria-live='polite'] {
	height: 100%;
	display: flex;
}

.input-date.--valid,
select.--valid,
input.--valid {
	border: 1px solid var(--success);
	& ~ .icon-success {
		display: flex;
	}
}
.input-date.--invalid,
select.--invalid,
input.--invalid {
	border: 1px solid var(--danger);

	& ~ .icon-error {
		display: flex;
	}
}
