.dashboard {
	width: 100%;
	position: relative;
	height: 100vh;
	overflow: hidden;
}
.sidebar {
	width: var(--widthSidebar);
	min-width: var(--widthSidebar);
	height: 100vh;
	background-color: var(--primary);
	display: flex;
	flex-direction: column;
}
.sideractive {
	// width: 0px;
	// min-width: 0px;
}
.logo {
	width: 30px;
	height: 30px;
	background-color: rgb(35, 99, 218);
	border-radius: 5px;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1rem;
}
.containerdash {
	padding-left: 1.1rem;
	padding-right: 1.1rem;
	h3 {
		font-size: 1.2rem;
	}
}
.points {
	display: flex;
	gap: 7px;
}
.point1 {
	background-color: #f34a4a;
}
.point2 {
	background-color: #f6ab1a;
}
.point3 {
	background-color: #3ac270;
}
.point {
	width: 10px;
	height: 10px;
	border-radius: 100%;
}
.separator {
	width: 100%;
	height: 1px;
	background-color: #ffffff0f;
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	width: calc(100% - 2.3rem);
}
.itemsidebarmenu {
	display: flex;
	align-items: center;
	padding: 0.7rem 1rem;
	justify-content: space-between;
	transition: 0.3s;
	cursor: pointer;
	height: 3rem;
	// background-color: var(--secondary);
	border-radius: 0.7rem;
	&:hover {
		background-color: var(--secondary);
	}
}
