.envol_main {
	height: -webkit-fill-available;
	width: 100%;
	display: flex;
	overflow: hidden;
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 4.5rem;
		background: linear-gradient(0deg, rgba(253, 253, 253, 0.796) 0%, rgba(255, 255, 255, 0.488) 40%, rgba(255, 255, 255, 0.247) 78%, rgba(255, 255, 255, 0) 100%);
		z-index: 1;
		pointer-events: none;
	}
	.envolves_content_files {
		width: 100%;
		position: relative;
		.content-files {
			width: 100%;
			height: -webkit-fill-available;
			overflow-y: scroll;
			display: grid;
			gap: 8px 1rem;
			grid-row: max-content;
			grid-template-rows: repeat(3, max-content);
			grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
			position: relative;
			flex-direction: column;
			padding: 0 1rem;
			padding-left: 0;
			.content-file {
				margin-bottom: 0;
				height: auto;
			}
			//style scroll
			&::-webkit-scrollbar {
				width: 0.5rem;
			}
			&::-webkit-scrollbar-track {
				background: #dfdfdf;
			}
			&::-webkit-scrollbar-thumb {
				background: #c5cef0;
			}
			&::-webkit-scrollbar-thumb:hover {
				background: var(--primary);
			}
		}
	}
	.content_pagination {
		position: absolute;
		bottom: 1rem;
		z-index: 2;
		width: max-content;
		display: flex;
		justify-content: center;
		align-items: center;
		left: 0;
		right: 0;
		margin: auto;

		.MuiPagination-ul {
			li {
				button {
					background-color: #556687;
					color: white;
					border: 0;
					&.Mui-selected {
						background-color: var(--primary);
					}
				}
			}
		}
	}
}
._manage_envolves {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.envol_main {
	height: max-content;
	width: 100%;
	height: -webkit-fill-available;
	display: flex;
	overflow: hidden;
	position: relative;
	gap: 1rem;
}
.content-file {
	display: flex;
	flex-direction: column;
	.content_img {
		width: 100%;
		height: 9rem;
		border-radius: 0.7rem;
		overflow: hidden;
		margin-bottom: 0.5rem;
		position: relative;
		user-select: none;
		.elvolve_img {
			position: relative;
			height: 100%;
			width: 100%;
			border-radius: 0.7rem;
			overflow: hidden;
			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(0deg, rgba(2, 0, 36, 0.7959558823529411) 0%, rgba(1, 0, 18, 0.48783263305322133) 40%, rgba(0, 0, 0, 0.24693627450980393) 78%, rgba(255, 255, 255, 0) 100%);
				z-index: 1;
				border-radius: 0.7rem;
				transition: 0.3s;
			}
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: 0.3s;
		}
	}
	.title-file {
		font-size: 0.8rem;
		margin-bottom: 0.5rem;
		text-align: center;
		color: var(--primary);
	}
	&:hover {
		.content_img {
			img {
				transform: scale(1.1);
			}
		}
	}
	&.active {
		display: flex;
		background: #182440;
		border-radius: 1rem;
		.content_img {
			padding: 0.5rem;
			overflow: hidden;
			.elvolve_img {
				overflow: hidden;
			}
		}
		.title-file {
			color: white;
		}
	}
}
